In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
path = 'dft_traffic_counts_aadf.csv'
df = pd.read_csv(path,low_memory=False)

In [9]:
IDs = np.unique(df.Count_point_id.values)
Nid = len(IDs)

YearAvail = [None]*Nid
NYear = np.zeros(Nid).astype(int)
update = 20e3
for ii,ID in enumerate(IDs):
    I = df.Count_point_id == ID
    YearAvail[ii] = np.sort(np.unique(df.loc[I,'Year'].values))
    NYear[ii] = len(YearAvail[ii])
    if (ii+1)%update == 0:
        print('%i of % done'%(ii+1,Nid))

20000 of  45576one
40000 of  45576one

In [10]:
gaps = np.ones(Nid).astype(int)
for ii in range(Nid):
    if NYear[ii] > 1:
        gaps[ii] = np.diff(YearAvail[ii]).max()

In [12]:
YearStart = np.zeros(Nid).astype(int)
YearEnd = np.zeros(Nid).astype(int)
for ii in range(Nid):
    YearStart[ii] = YearAvail[ii][0]
    YearEnd[ii] = YearAvail[ii][-1]

In [16]:
save_path = 'aadf_year_meta.csv'
df = pd.DataFrame({'Count_point_id':IDs,'N_year':NYear,'Year_start':YearStart,'Year_end':YearEnd,'Max_year_gap':gaps})
df.to_csv(save_path,index_label=False)

In [17]:
df_test = pd.read_csv(save_path)
df_test.sample(20)

       Count_point_id  N_year  Year_start  Year_end  Max_year_gap
8144            38837      22        2000      2021             1
10741           56301      22        2000      2021             1
880              6878      22        2000      2021             1
33282          940082      11        2008      2019             2
34834          941761      11        2009      2019             1
19904           93095       1        2021      2021             1
40333          947576       1        2008      2008             1
42537          950321       9        2000      2009             2
17058           80579      18        2000      2017             1
29821          810964       3        2019      2021             1
6582            36132      22        2000      2021             1
25444          806062       4        2018      2021             1
3528            17756      22        2000      2021             1
13806           74394      22        2000      2021             1
31059          820074       2        2020      2021             1
8529            46057      22        2000      2021             1
24535          804866       2        2018      2019             1
24591          804958       2        2018      2019             1
42339          949679       1        2008      2008             1
2932            16857      22        2000      2021             1